body {
  min-height: 100vh;
}

.editor-toolbar button i::before {
  color: #bebebe !important;
}
.editor-toolbar button:hover {
  background-color: #181818 !important;
}

footer {
  background: blue;
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
}

.reviews li::marker {
  content: "—  ";
}
